.blue {
    background-color: lightskyblue;
}

.green {
    background-color: darkseagreen;
}

.purple {
    background-color: mediumorchid;
}

.red {
    background-color: darksalmon;
}


/* FONT SIZES */

.xsmall {
    font-size: x-small;
}

.small {
    font-size: small;
}

.large {
    font-size: large;
}

.xlarge {
    font-size: x-large;
}


/* BORDER SIZES */

.onepixel {
    border-width: 1px;
    border-style: solid;
}

.threepixels {
    border-width: 3px;
    border-style: solid;
}

.fivepixels {
    border-width: 5px;
    border-style: solid;
}