/* CSS themes for the background colors */
.background--blue {
    background-color: lightskyblue;
}

.background--green {
    background-color: darkseagreen;
}

.background--purple {
    background-color: mediumorchid;
}

.background--red {
    background-color: darksalmon;
}